# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.mypy_cache/
.pytest_cache/
.cache/

# Virtual environments
venv/
env/
.venv/
.env/

# IDEs
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and misc
*.log
*.tmp
*.bak
